<ion-content no-padding>
  
<style type="scss/text">
  @import url('https://fonts.googleapis.com/css?family=Caveat|Dancing+Script|Gaegu|Gloria+Hallelujah|Handlee|Hi+Melody|Homemade+Apple|Indie+Flower|Jim+Nightshade|Julee|Just+Another+Hand|Just+Me+Again+Down+Here|Kalam|Kristi|La+Belle+Aurore|Nothing+You+Could+Do|Reenie+Beanie|Satisfy|Swanky+and+Moo+Moo|Tangerine');

  pre { 
    /*font-family: 'Julee', cursive;*/
    font-family: 'Caveat', cursive;
    font-size: 20px;
    margin: 2px;
  }
</style>
  
  <ion-item>
    <p>🕓 {{game.get_Time()}}</p>
  </ion-item>
  
  <ion-card style="min-height: 20%">
    <ion-card-content>
      <div style="height:400px; position: relative;" >
        <div style="position: absolute; bottom: 10px;">
          <pre *ngFor="let entry of game.journal;" style="color:#999">{{entry}}</pre>
          <pre>{{game.current_journal_entry}}</pre>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
  
  
  <ion-card>
    <ion-card-content>
      <ion-item-group>
        <ion-list>
          <ion-item ion-item *ngFor="let option of game.options; let i = index" (tap)="game.selectOption(i)">
            <pre>{{option.link_text}}</pre>
          </ion-item>
        </ion-list>
      </ion-item-group>
    </ion-card-content>
  </ion-card>
  
</ion-content>